# --- Ingestion et Cloud ---
s3fs
boto3
python-dotenv
meteostat

# --- Traitement Big Data ---
pyspark
pandas
pyarrow

# --- Environnement de développement ---
jupyterlab

# --- Visualisation (EDA) ---
matplotlib
seaborn

# --- Machine Learning ---
scikit-learn
tpot
